
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




html , body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #EDEDED;
    height: fit-content;
    

}

nav{
    height: 123px;
    width: 100%;
    display: flex;
    align-items: center;
   
}




nav .logo{
    font-size: 53px;
    margin-left:43px;

}

nav ul{
    flex-grow: 1;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    font-family: "Poppins", sans-serif;
}

nav ul li{
    font-size: 35px;

}
nav ul li  img{
    height: 40px;

}
nav ul li  a{
    
    text-decoration: none;
    color: black;

}
header{
    width: 100%;
    height: fit-content;
}
header img{
    width: 100%;
}
main{
    padding-top: 30px;
    width: 100%;
}

main .ourProduct hr{

   width: 919px;
   height: 5px;
   background-color: black;
   margin-bottom: 130px;
  


}
main .ourProduct h1{

    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 68px;
    font-size: 96px;
    margin-bottom: 100px;
    font-family: "Poppins", sans-serif;
}


main .ourProduct .cards{
    width: 100%;
    height: fit-content;
    /* background-color:blueviolet; */
    display: flex;
    justify-content: space-around;
    margin-bottom: 64px;
    font-family: "Poppins", sans-serif;
   

}

main .ourProduct .cards .card{
   
    width: 311px;
    height: 460px;
    background-color:#ffffff;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    
}
main .ourProduct .cards .card:hover{
   
    border: 10px solid rgb(199, 3, 3);
    cursor: pointer;
    height: 440px;
   
    width: 291px;
    background-color:#ffffff;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    
}
main .ourProduct .cards .card .container{

    width: fit-content;
    margin-top: 32px;

 
}
main .ourProduct .cards .card img{
 
      margin-bottom: 30px;
     
    width: 201px;
    height: 251px;
    

}

main .ourProduct .cards .card .container p:nth-of-type(1) {
    font-size: 31px;
    margin: 0px;
     margin-bottom: 20px;
}
main .ourProduct .cards .card .container p:last-child{
   

    font-size: 31px;
    margin: 0px;
   

}






main .contactUs {
    padding-bottom: 150px;
    width: 100%;
}
main .contactUs hr{

    width: 919px;
    height: 5px;
    background-color: black;
    margin-bottom: 130px;
 
 
 }
 main .contactUs h1{
 
     width: fit-content;
     height: fit-content;
     margin: auto;
     margin-top: 68px;
     font-size: 96px;
     margin-bottom: 100px;
     font-family: "Poppins", sans-serif;
 }
 main .contactUs form {

    margin: auto;
    width: fit-content;


 }



 main .contactUs form > *{
       
     display: block;
    
 }

 main .contactUs form label{
    margin-bottom: 20px;
 } 
 main .contactUs form input{
    margin-bottom: 45px;
    border-radius: 5px;
    border: solid 1px #b9b7b7;
    height: 50px;
    width:660px;

 } 

 main .contactUs form input:last-child{
    height: 150px;
    margin-bottom: 100px;
    
 } 


 main .contactUs form button{
    height: 80px;
    width: 200px;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    border-radius: 8px;
    border: none;
    margin: auto;
    
 } 

 
 main .contactUs form button:hover{
    
    background-color: rgb(211, 210, 210);
    color: #000000;
    border-radius: 8px;
    cursor: pointer;
    margin: auto;
    
 } 



 main .blog {
    width: 100%;
    
    font-family: "Roboto Mono", monospace;
    
}
main .blog hr{

    width: 919px;
    height: 5px;
    background-color: black;
    margin-bottom: 130px;
 
 
 }
 main .blog h1{
 
     width: fit-content;
     height: fit-content;
     margin: auto;
     margin-top: 68px;
     font-size: 96px;
     margin-bottom: 100px;
     font-family: "Poppins", sans-serif;
 }



main .blog .blogCard{
    height: fit-content;
    width: 100%;
    display : flex ; 
    justify-content: space-around;
    margin-bottom: 100px;
    

}
main .blog .blogCard .review{
    height: 305px;
    width: 580px;
    background-color: #b9b7b7;
    border-radius: 10px;
    padding-left: 20px;

}
main .blog .blogCard .review h4{
    font-size: 34px;
    padding-bottom: -15px;
    padding-top: -50px;
    padding-left: 30px;

    

}
main .blog .blogCard .review p{
    margin: 0;
    margin-top: -20px;
    padding-left: 25px;
   font-size:25px ;


}









main .about {
    width: 100%;
    margin-bottom:90px;
    font-family: "Roboto Mono", monospace;
    
}
main .about hr{

    width: 919px;
    height: 5px;
    background-color: black;
    margin-bottom: 130px;
 
 
 }
 main .about .container  h1{
 
    width: fit-content;
    height: fit-content;
    margin: auto;
    
    font-size: 96px;
    font-family: "Poppins", sans-serif; 
     

     
 }
 main .about .container  h2{
 
    width: fit-content;
    height: fit-content;
    margin-left:100px;
    
    font-size: 42px;
     

     
 }
 main .about .container  p{
 
    width: fit-content;
    height: fit-content;
    margin-left:90px;
    
    font-size: 35px;
     

     
 }
 main .about .container{
    width: 1037px;
    height: 771px;
    border-radius: 15px;
    margin: auto;
    background-color: #b9b7b7;

 }






footer{
    height: 300px;
    background-color: #ffffff;
    padding: 40px;
    display: flex;
   
}





footer .socialMediaIcon{
    margin-right:120px;
    height: 24px;
    width: fit-content;
}

footer .socialMediaIcon > *{
    cursor: pointer;
    height: 24px;
}

footer .listes{
    margin-top:-10px ;
    display: flex;
    width: 740px;
    justify-content: space-between;

}


footer .listes ul{
   
      list-style: none;

}

footer .listes ul li{
   
    font-family: "Poppins", sans-serif; 
    margin-bottom: 15px;

}
footer .listes ul li:first-of-type{
   
    font-weight: 500;
        margin-bottom: 30px;

}








/* 
 .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
   */